@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Sans&display=swap');

:root {
  font-size: 17px;
  --th-primary: #12c2e9;
  --th-secondary: #f64f59;
  --th-accent-dk: #c471ed;
  --th-accent-lt: #ffc107;
  --th-neutral-dk: #403b44;
  --th-neutral-lt: #eceaed;
  --th-font: 'Bree Serif', 'Roboto Slab', serif;
  --th-font-body: 'PT Sans', 'Open Sans', Helvetica, sans-serif;
  --th-body-padding: 1rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--th-neutral-dk);
  font-family: var(--th-font-body);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-family: var(--th-font);
  line-height: 1.2;
  margin-top: 0;
}

.btn,
a {
  transition: all 0.2s;
}

a {
  color: #12c2e9;
}

a:visited,
a:active {
  color: #c471ed;
}

a:hover {
  color: #f64f59;
}

input[type='date'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.5rem;
}

.hide {
  position: absolute;
  left: -9999em;
}

.btn {
  background: none;
  border-radius: 0.5rem;
  padding: 0.35rem 0.65rem 0.25rem;
  border: 1px solid #666;
}

.form-control {
  padding: 0.35rem 0.75rem;
}

.tih-header,
.tih-footer {
  padding: 2rem 1rem 1.5rem;
  background: linear-gradient(
    to right,
    var(--th-primary),
    var(--th-accent-dk),
    var(--th-secondary)
  );
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.tih-header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tih-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tih-logo .logo-icon,
.tih-footer img {
  display: block;
  margin: 0 auto 0.35rem;
  filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.3));
}

.logo-icon {
  display: block;
}

.tih-logo .logo {
  display: none;
}
.tih-search {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.tih-search label {
  position: absolute;
  left: -9999em;
}

#text-search {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--th-neutral-dk);
  border-radius: 100px;
  font-size: 0.9rem;
  flex-grow: 1;
  outline: 0;
  transition: all 0.2s;
}

#text-search::placeholder {
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

#text-search:hover,
#text-search:focus {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

#text-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.btn-search {
  background: 0;
  padding: 0 0.25rem 0 1rem;
  border: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.3);
  width: auto;
  position: absolute;
  right: 0.75rem;
  top: 0.3rem;
}

.tih-search:hover .btn-search,
.btn-search:hover {
  color: rgba(0, 0, 0, 0.3);
}

.date-info {
  margin-bottom: 1rem;
  padding: var(--th-body-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f6f6f6;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.date-text {
  font-family: var(--th-font);
  font-size: 1.6rem;
  display: inline-block;
  margin-bottom: 0.35rem;
  text-align: center;
  width: 100%;
}

.btn-change-date,
.btn-back {
  color: var(--th-primary);
  border: 1px solid var(--th-primary);
  font-size: 0.9rem;
  cursor: pointer;
  background: #fcfcfc;
}

.btn-change-date {
  width: auto;
}
.btn-change-date:hover {
  background: var(--th-primary);
  color: #fff;
}

.btn-back {
  width: auto;
}

.btn-back .fas {
  padding-right: 0.5rem;
}

.input-date {
  border: 1px solid var(--th-primary);
  color: var(--th-neutral-dk);
  background: #fcfcfc;
  font-size: 0.9rem;
  width: 95%;
  max-width: 300px;
}
.input-date:focus-visible {
  outline: none;
  border: 2px solid var(--th-primary);
}

.tih-main {
  padding: 1rem 1.5rem 0.25rem;
}

.tih-main h1 {
  text-align: center;
}
.tih-main h1 span {
  display: block;
  font-size: 1.7rem;
}
.tih-aside {
  margin-top: 2rem;
  padding: var(--th-body-padding);
  background: #f6f6f6;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.tih-holidays-list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.tih-holidays-list li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  padding-left: 2rem;
  position: relative;
}

.tih-holidays-list li:before {
  content: '\f005';
  color: #ffc107;
  font-family: 'Font Awesome 5 Free';
  font-size: 1.1rem;
  left: 0;
  position: absolute;
}

.tih-holidays-list a:link {
  text-decoration: none;
  font-size: 0.8rem;
  opacity: 0.7;
}

.tih-holidays-list .fas {
  padding-left: 0.5rem;
}

.search-results li {
  display: flex;
  line-height: 1.3;
  align-items: center;
  padding-left: 0;
  font-size: 1rem;
}

.search-results li:before {
  display: none;
}

.search-results .search-date {
  padding: 0.25rem 0.5rem 0.15rem;
  font-size: 0.8rem;
  background: #ffc107;
  border-radius: 50px;
  margin-right: 1rem;
  min-width: 50px;
  text-align: center;
}

.tih-aside .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tih-blurb:last-child {
  border-bottom: 0;
}

.tih-blurb {
  margin: 1.5rem 0 1rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #eee;
  max-width: 400px;
}

.form-submit-holiday {
  display: flex;
  flex-direction: column;
}

.form-fields {
  line-height: 1.1;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-fields label {
  width: 40%;
  padding-right: 0.5rem;
}

.form-fields input {
  flex: 1;
  width: 60%;
  font-size: 0.9rem;
  padding: 0.4rem 0.5rem 0.3rem;
  border: 1px solid #12c2e9;
  border-radius: 0.5rem;
}

.btn-submit-holiday,
.btn-submit-list {
  padding: 0.4rem 0 0.5rem;
  margin-top: 0.5rem;
  background: #12c2e9;
  border: 2px solid rgba(0, 0, 0, 0.05);
  color: #fff;
  font-family: var(--th-font);
  width: 50%;
  align-self: center;
  cursor: pointer;
}

.btn-submit-holiday:hover,
.btn-submit-list:hover {
  background: #c471ed;
}

.label-email {
  position: absolute;
  left: -999em;
}

.form-list input[type='email'] {
  padding: 0.4rem 0.65rem;
}

.btn-submit-list {
  width: 30%;
  margin-top: 0;
  margin-left: 0.5rem;
  padding: 0.2rem 0.4rem 0.3rem;
}

.tih-footer {
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--th-font);
  text-align: center;
  line-height: 1.5;
}

.tih-footer img {
  margin-bottom: 0.4rem;
}

.tih-footer a {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.tih-footer a:hover {
  color: #403b44;
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.tih-logo img {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 18px;
  }
  .tih-logo .logo-icon {
    display: none;
  }
  .tih-logo .logo {
    display: block;
    width: 95%;
    max-width: 400px;
    height: auto;
  }
  .tih-logo span {
    position: absolute;
    left: -9999em;
  }
  .hide-sm {
    position: absolute;
    left: -9999em;
  }
  .tih-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 265px;
    background-image: url('../img/bkg-mid.svg');
    z-index: -1;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
  .tih-header,
  .date-info {
    background: none;
    border: 0;
    box-shadow: none;
    position: relative;
  }

  .tih-header {
    padding-bottom: 1.25rem;
  }

  .date-info {
    padding-top: 0;
    align-items: center;
  }
  .date-text {
    width: auto;
    padding-right: 1rem;
  }

  .btn-change-date {
    background: rgba(255, 255, 255, 0.2);
    color: #403b44;
    border-width: 0;
    padding: 0.35rem 0.5rem;
    transform: translateY(-3px);
    font-size: 0.7rem;
    text-transform: uppercase;
    transition: all 0.5s;
  }

  .btn-change-date:hover {
  }

  .input-date {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
  }

  .tih-main {
    padding-top: 3rem;
  }

  .tih-holidays-list {
    margin: 0 auto;
  }

  .tih-aside {
    position: relative;
    border: 0;
    box-shadow: 0;
    background: #edeced;
    margin-top: 6rem;
  }

  .tih-aside .container::before {
    content: '';
    position: absolute;
    background: url('../img/grey-wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    height: 200px;
    top: -100px;
    z-index: -1;
  }

  .tih-aside .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tih-blurb {
    border-bottom-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    margin-top: 0.5rem;
    width: 85%;
  }

  .tih-blurb {
    max-width: 650px;
  }
}

@media screen and (min-width: 800px) {
  .tih-main h1 span,
  .tih-main h1 span {
    font-size: 1.8rem;
  }
  .tih-main h1 br {
    display: none;
  }
  .tih-main {
    width: 95%;
    max-width: 790px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .tih-holidays-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 100%;
  }

  .tih-holidays-list li {
    width: 49%;
  }

  .tih-footer br {
    display: none;
  }
}

@media screen and (min-width: 980px) {
  .tih-header::before {
    display: none;
  }

  .main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 525px;
    background-image: url('../img/bkg.svg');
    z-index: -1;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    max-width: 940px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .tih-header {
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
  }
  .tih-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .tih-logo {
    filter: none;
  }

  .date-info {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    margin-top: 1.5rem;
  }

  .date-text {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  }
  .tih-logo,
  .tih-search {
    margin-bottom: 0;
  }
  .tih-search {
    margin-left: 2rem;
    max-width: 350px;
    margin-right: 1rem;
    margin-top: 0.25rem;
  }
  #text-search {
    padding: 0.5rem 1rem;
  }
  .btn-search {
    top: 0.5rem;
  }
  .btn-back {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #403b44;
    margin-bottom: 0.5rem;
  }
  .tih-main {
    padding: 0;
    position: relative;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  }
  .tih-main h1 {
    text-align: left;
    line-height: 1.1;
    margin-top: 0rem;
    padding-top: 0.25rem;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
    width: 450px;
  }
  .tih-main h1 br {
    display: inline-block;
  }

  .tih-holidays-list {
    width: 450px;
    height: 210px;
    overflow: auto;
    display: block;
  }
  .tih-holidays-list li {
    width: 100%;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .tih-holidays-list li::before,
  .tih-holidays-list a {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  }
  .tih-main::after {
    content: '';
    background: url('../img/peeps.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0;
    top: -0.5rem;
  }

  .tih-holidays-list li a {
    color: rgba(255, 255, 255, 0.5);
    transform: color 0.2s;
  }
  .tih-holidays-list li a:hover {
    color: #fff;
  }

  .search-results li {
    font-size: 0.9rem;
  }

  .search-results .search-date {
    padding: 0.1rem 0.2rem 0.17rem;
    min-width: 43px;
    font-size: 0.7rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 193, 7, 0.9);
  }

  .tih-aside {
    margin-top: 6rem;
  }

  .tih-aside .container {
    align-items: flex-start;
  }

  .tih-blurb {
    width: 33%;
    font-size: 0.85rem;
    padding: 0;
    padding-right: 1.5rem;
    border: 0;
  }

  .tih-blurb:last-child {
    padding-right: 0;
  }

  .form-submit-holiday input,
  .form-list input {
    padding: 0.3rem 0.45rem;
    font-size: 0.8rem;
    border-color: rgba(18, 194, 233, 0.5);
    background: rgba(255, 255, 255, 0.6);
  }

  .btn-submit-holiday {
    padding: 0.25rem 0.75rem 0.35rem;
    width: auto;
    align-self: flex-end;
  }

  .tih-footer {
    background: #403b44;
    position: relative;
    color: rgba(255, 255, 255, 0.4);
    padding: 0;
    text-shadow: none;
    font-size: 0.9rem;
    background: #403b44 url('../img/icon-lg.svg') no-repeat center 1.5rem;
    background-size: 50px 50px;
    padding: 4rem 0 0.5rem;
  }
  .tih-footer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    top: 8px;
    z-index: 1;
    border-top: 2px solid #ffc107;
  }
  .tih-footer a {
    color: rgba(255, 255, 255, 0.4);
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }
  .tih-footer a:hover {
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }

  .tih-footer img {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .main-container::after {
    background-image: url('../img/bkg-lg.svg');
    height: 530px;
  }

  .tih-aside .container::before {
    top: -100px;
    height: 100px;
  }

  .tih-aside {
    margin-top: 3rem;
  }

  .tih-aside .container {
    max-width: 1090px;
    padding-top: 0;
    flex-wrap: nowrap;
  }
  .tih-blurb {
    padding-right: 0;
    margin-right: 2rem;
    width: 32%;
  }
  .tih-blurb:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}
